body {
    background-color: rgb(183, 135, 222);
    font-family: Arial;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

.first {
 font-size: 20px;
 color: white;
 text-align: justify;   
}

.third {
    margin-right: 350px;
}

.osito-image {
    margin-top: 50px;
    height: 1000px;
    width: auto;
    float: right;
}

#your-name {
    background-color: rgb(159, 116, 179);
    border: 5px solid #444;
    padding: 5%;
    margin-top: 50px;
    margin-left: 200px;
    width: 400px;  
    float: left;
}

#your-name h2 {
    color: whitesmoke;
}